extends base

block content
    section.my-page-setting-section
        h2.none 내 정보
        div.my-playlist-image
        //- img.my-playlist-image(src=user.settings.playlistImage ? user.settings.playlistImage :"https://images.unsplash.com/photo-1548192746-dd526f154ed9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="플레이리스트 이미지")
        form.user-setting-form  
            fieldset.user-info 
                label(for="user-info-name-input") name : 
                input#user-info-name-input(type="text" maxlength="20" value=user.name)
                label email : 
                input(type="text" disabled value=user.email)
            fieldset.user-player-setting
                label(for="player-title-input") Playlist Title : 
                input#player-title-input(type="text" maxlength="20" value=user.settings.playlistTitle) 
                label(for="player-image-input") Image URL : 
                input#player-image-input(type="text" value=user.settings.playlistImage)
            button.user-setting-submit-button(type="submit") Save
    section.my-page-playlist-section
        h2.eng-font-bold.my-playlist-title My Playlist
        ul.my-playlist 
            each song in user.playlist
                li.my-playlist-item
                    button 
                        i.material-icons menu
                    div.my-playlist-song-info-container         
                        img(src=song.thumbnail, alt="")
                        div.song-info-title-artist-container
                            h3.playlist-song-title #{song.title}
                            p.playlist-song-artist #{song.artist} 
                    button.song-delete-button(type="button" data-id=song._id)
                        i.material-icons remove